@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700");

body {
    background-color: #f7f7f7;
    font-family: "Poppins", sans-serif !important;
}

.home-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../../../../public/img/banners/home-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}