.navbar {
    position: relative;
    transition: .5s;
    z-index: 999;
}

.navbar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}


@media (min-width: 992px) {
    .navbar {
        position: absolute;
        width: 100%;
        padding: 30px 60px;
        background: transparent!important;
        z-index: 9;
        /* background-color: rgba(0, 0, 0, 0.3)!important; */
        position: fixed !important;
    }

    .navbar.nav-sticky {
        padding: 10px 60px;
        background: rgba(0, 0, 0, 0.75) !important;
        opacity: 0.8;
    }

    .navbar-light .navbar-nav .nav-link,
    .navbar-light .navbar-nav .nav-link:focus {
        padding: 10px 10px 8px 10px;
        font-family: 'Nunito', sans-serif;
        color: #afafaf;
        font-size: 14px;
        font-weight: 700;
    }

    .navbar-light.nav-sticky .navbar-nav .nav-link,
    .navbar-light.nav-sticky .navbar-nav .nav-link:focus {
        color: #afafaf;
    }

    .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .navbar-nav .nav-link.active {
        color: #fff;
    }

    .navbar-light.nav-sticky .navbar-nav .nav-link:hover,
    .navbar-light.nav-sticky .navbar-nav .nav-link.active {
        color: #fff;
    }
}

@media (max-width: 991.98px) {
    .navbar {
        padding: 15px;
        background: #fff !important;
    }

    .navbar .navbar-nav {
        margin-top: 15px;
    }

    .navbar a.nav-link {
        padding: 5px;
    }

    .navbar .dropdown-menu {
        box-shadow: none;
    }
}

.search::placeholder {
    color: #fff!important;
    opacity: 1; /* Firefox */
  }
  